body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff6a88, #ff99ac);
    font-family: 'Segoe UI', sans-serif;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    width: 350px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    animation: pop 1.2s ease;
}

h1 {
    color: #ff3366;
}

p {
    color: #555;
    font-size: 17px;
    line-height: 1.6;
}

h2 {
    color: #ff3366;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background: #ff3366;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background: #ff1744;
}

@keyframes pop {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.emoji {
    position: absolute;
    bottom: -50px;
    animation: floatUp linear forwards;
}

@keyframes floatUp {
    to {
        transform: translateY(-110vh);
        opacity: 0;
    }
}
@media (max-width: 600px) {

    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        max-width: 320px;
        padding: 25px;
        border-radius: 20px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }

    .btn {
        font-size: 15px;
        padding: 10px 22px;
    }
}
.type {
    font-size: 18px;
    color: #ff3366;
    font-weight: bold;
    margin-top: 15px;
}
.loveBtn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #ff3366;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

#loveResult {
    margin-top: 15px;
    font-size: 17px;
    color: #ff3366;
    font-weight: bold;
}
